@import "../../../../styles.scss";

.footer-area {
  color: $color-white;
  background-color: #303030;
  padding: 1rem 2.8rem;

  .heading-tertiary {
    color: $color-white;
    font-weight: 600;
    font-size: 1.3rem;
  }

  .post-list {
    padding: 0;

    .post-item {
      display: inline-block;
      list-style-type: none;
      margin: .6rem 5px;

      .post-link {

        &:link,
        &:visited {
          text-decoration: none;
          color: $color-white;
          font-size: 1.4rem;
          transition: all .3s;
        }

        &:hover,
        &:active {
          color: $color-main-1;
        }
      }

      .post-date {
        display: block;
        margin-top: .1rem;
        font-size: 1.2rem;
        color: $color-dark-grey-4;
      }
    }
  }
}


.social-links-items {
  list-style: none;

  li {
    display: inline-block;
    width: 30px;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    a {

      &:link,
      &:visited {
        text-decoration: none;
        color: $color-white;
        font-size: 1.2rem;
        transition: all .3s;
      }

      &:hover,
      &:active {
        color: $color-main-1;
      }
    }
  }
}
