.content-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  background-color: #fff;
  margin: 3.7em auto;

  @media (tab-land) {
    width: 90%;
  }

  .contact-section-heading {
    text-align: center;

    .heading-primary {
      color: #003d93;
    }
  }
}

mat-dialog-content,
.mat-dialog-content {
  overflow: inherit;
}

.form-group {
  .form-control {
    width: 100%;
    margin-top: 2rem;

    .control-input {
      min-height: 20px;
    }
  }
  .help-block {
    text-transform: uppercase;
    color: #1B5E20;
  }
}

.select-control {
  // width: 48%;
  margin-top: 2rem;
}

mat-dialog-actions button {
  margin: 1.2rem 1rem 0 0;
}
