<section class="change-password">
  <div class="content-wrapper">
    <div class="contact-section-heading">
      <h2 class="heading-primary" mat-dialog-title>Reset Password</h2>
    </div>
    <h4>Password must contain the following:</h4>
    <p id="letter">
      <small>A <b>lowercase</b> letter</small>
    </p>
    <p id="capital">
      <small>A <b>capital (uppercase)</b> letter</small>
    </p>
    <p id="number">
      <small>A <b>number</b></small>
    </p>
    <p id="length">
      <small>Minimum <b>8 characters</b></small>
    </p>
    <main>
      <div class="change-password-form">
        <mat-dialog-content [formGroup]="resetPassword">
          <!-- Old Password -->
          <div class="form-group">
            <mat-form-field floatLabel="auto" class="form-control">
              <mat-label>Old Password</mat-label>
              <input
                matInput
                class="control-input"
                type="password"
                formControlName="oldPass"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                placeholder="Enter Your Password..."
              />
            </mat-form-field>
            <div *ngIf="oldPass.valid && oldPass.dirty && oldPass.touched">
              <small class="help-block">Looks good!</small>
            </div>
          </div>
          <!-- New Password -->
          <div class="form-group">
            <mat-form-field floatLabel="auto" class="form-control">
              <mat-label>New Password</mat-label>
              <input
                matInput
                type="password"
                class="control-input"
                formControlName="newPass"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                placeholder="Change Your Password"
              />
              <mat-error
                *ngIf="newPass.hasError('required') && newPass.touched"
              >
                Your New Password is required.
              </mat-error>

              <mat-error
                *ngIf="
                  newPass.invalid &&
                  newPass.touched &&
                  !newPass.hasError('required')
                "
              >
                Enter Vaild Password.
              </mat-error>
            </mat-form-field>
            <div *ngIf="newPass.valid && newPass.dirty && newPass.touched">
              <small class="help-block">Looks good!</small>
            </div>
          </div>
          <!-- Confirm Password -->
          <div class="form-group">
            <mat-form-field floatLabel="auto" class="form-control">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                type="password"
                class="control-input"
                appConfirmPassword="newPass"
                formControlName="confirmPass"
                placeholder="Confirm Password"
              />
              <mat-error
                *ngIf="confirmPass.errors?.required && confirmPass.touched"
              >
                Confirm Password is required.
              </mat-error>

              <mat-error
                *ngIf="
                  confirmPass.errors?.notMatch &&
                  !confirmPass.errors?.required &&
                  confirmPass.touched
                "
              >
                Password does not match.
              </mat-error>
            </mat-form-field>
            <div
              *ngIf="
                confirmPass.valid && (confirmPass.dirty || confirmPass.touched)
              "
            >
              <small class="help-block">Looks good!</small>
            </div>
          </div>

          <mat-dialog-actions>
            <button
              class="mat-raised-button mat-primary"
              (click)="onChangePassword()"
              [disabled]="!resetPassword.valid"
            >
              Change Password
            </button>
            <button class="mat-raised-button mat-accent" (click)="onCancel()">
              Cancel
            </button>
          </mat-dialog-actions>
        </mat-dialog-content>
      </div>
    </main>
  </div>
</section>
