<h1>DashBoard</h1>
<br />
<mat-divider></mat-divider>
<br />

<div
  class="stats-card"
  fxLayoutAlign="space-between center"
  fxLayout="row"
  fxLayoutGap="20px"
  *ngIf="state"
>
  <mat-card fxFlex="25">
    <p class="card-category">VOLUNTEERS</p>
    <h3 class="card-title">{{ state.volunteers }}</h3>
  </mat-card>
  <mat-card fxFlex="25">
    <p class="card-category">{{ articlesInMon | uppercase }}</p>
    <h3 class="card-title">
      {{ state.articlesmonth.count }}/{{ state.articles }}
    </h3>
  </mat-card>
  <mat-card fxFlex="25">
    <p class="card-category">ALL ARTICLES</p>
    <h3 class="card-title">{{ state.articles }}</h3>
  </mat-card>
  <mat-card fxFlex="25">
    <p class="card-category">CONTACTS</p>
    <h3 class="card-title">{{ state.contacts }}</h3>
  </mat-card>
</div>
<br />
<mat-divider></mat-divider>
<br />
<div class="profile">
  <h2>Profile info:</h2>
  <app-profile-info></app-profile-info>
</div>
