<header class="page-header">
  <div>
    <h1 class="heading-primary">about us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio
      praesentium maxime mollitia vero saepe recusandae labore repudiandae
      libero odit?
    </p>
  </div>
</header>
<main class="main-content">
  <div class="container">
    <!-- WHO WE ARE -->
    <section class="section-content">
      <div class="text-box">
        <h2 class="heading-secondary">who we are?</h2>
        <div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque numquam
            natus unde facilis nobis animi maxime explicabo quibusdam, hic at amet,
            itaque repellat. Obcaecati, fugiat? Adipisci laboriosam in nemo
            similique.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Neque numquam natus unde facilis nobis animi maxime explicabo quibusdam,
            hic at amet, itaque repellat. Obcaecati, fugiat? Adipisci laboriosam in
            nemo similique.
          </p>
        </div>
      </div>
    </section>
    <!-- WHAT DO WE DO -->
    <section class="section-content">
      <div class="text-box">
        <h2 class="heading-secondary">What do we do?</h2>
        <div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
            numquam natus unde facilis nobis animi maxime explicabo quibusdam, hic
            at amet, itaque repellat. Obcaecati, fugiat? Adipisci laboriosam in
            nemo similique.Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Neque numquam natus unde facilis nobis animi maxime explicabo
            quibusdam, hic at amet, itaque repellat. Obcaecati, fugiat? Adipisci
            laboriosam in nemo similique.
          </p>
        </div>
      </div>
    </section>

    <div class="btnGTeam">
      <button class="btn" routerLink="/team" mat-raised-button>
        Get to know our team
      </button>
    </div>

    <!-- VISION -->
    <section class="section-vision">
      <img
        class="image"
        src="../../../assets/images/Vision.png"
        alt="volunteer-3"
      />
      <div class="text-box">
        <h2 class="heading-secondary">Vision</h2>
        <div class="paragraph">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
            numquam natus unde facilis nobis animi maxime explicabo quibusdam, hic
            at amet, itaque repellat. Obcaecati, fugiat? Adipisci laboriosam in
            nemo similique.Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Neque numquam natus unde facilis nobis animi maxime explicabo
            quibusdam, hic at amet, itaque repellat. Obcaecati, fugiat? Adipisci
            laboriosam in nemo similique.
          </p>
        </div>
      </div>
    </section>
    <!-- MISSION -->
    <section class="section-mission">
      <img
        class="image"
        src="../../../assets/images/Vision.png"
        alt="volunteer-3"
      />
      <div class="text-box">
        <h2 class="heading-secondary">Mission</h2>
        <div class="paragraph">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
            numquam natus unde facilis nobis animi maxime explicabo quibusdam, hic
            at amet, itaque repellat. Obcaecati, fugiat? Adipisci laboriosam in
            nemo similique.Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Neque numquam natus unde facilis nobis animi maxime explicabo
            quibusdam, hic at amet, itaque repellat. Obcaecati, fugiat? Adipisci
            laboriosam in nemo similique.
          </p>
        </div>
      </div>
    </section>
    <!-- SUMMARY -->
    <section class="section-summary">
      <mat-grid-list
        role="list"
        [cols]="columnNum"
        rowHeight="330px"
        gutterSize="10px"
      >
        <mat-grid-tile role="listitem" [colspan]="imgCols">
          <img
            class="image-value"
            src="../../../assets/images/volunteer-1.png"
            alt="volunteer-1"
          />
        </mat-grid-tile>

        <mat-grid-tile role="listitem" [colspan]="textCols">
          <p class="paragraph">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
            numquam natus unde facilis nobis animi maxime explicabo quibusdam, hic
            at amet, itaque repellat. Obcaecati, fugiat? Adipisci laboriosam in
            nemo similique.Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Neque numquam natus unde facilis nobis animi maxime explicabo
            quibusdam, hic at amet, itaque repellat. Obcaecati, fugiat? Adipisci
            laboriosam in nemo similique.
          </p>
        </mat-grid-tile>
      </mat-grid-list>
    </section>
  </div>
</main>
