<!-- Navbar -->
<mat-toolbar>
  <mat-toolbar-row class="mat-toolbar-row">
    <mat-icon
      class="mat-icon-logo"
      aria-hidden="false"
      aria-label="IEEE-KSB"
      routerLink='/home'
      routerLinkActive="active"
      role="img"
    >
      <img src="../../../assets/images/IEEE.png" alt="logo" />
    </mat-icon>
    <span class="example-spacer"></span>

    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon *ngIf="!drawer.opened" aria-label="Side nav toggle icon"
        >menu</mat-icon
      >
      <mat-icon *ngIf="drawer.opened" aria-label="Side nav toggle icon"
        >close</mat-icon
      >
    </button>

    <ul *ngIf="!(isHandset$ | async)">
      <li><button mat-flat-button class="mat-nav mat-btn-nav" routerLink="/home" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">Home</button></li>
      <li><button mat-flat-button class="mat-nav mat-btn-nav" routerLink="/about" routerLinkActive="active">About</button></li>
      <li>
        <button mat-flat-button class="mat-nav mat-btn-nav" routerLink="/articles" routerLinkActive="active">Articles</button>
      </li>
      <li><button mat-flat-button class="mat-nav mat-btn-nav" routerLink="/team" routerLinkActive="active">Teams</button></li>
      <li>
        <button mat-flat-button class="mat-nav mat-btn-nav" routerLink="/contact-us" routerLinkActive="active">Contact</button>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
<!-- Side Nav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over"
    opened="false"
  >
    <mat-nav-list>
      <a mat-list-item class="mat-btn-nav" routerLink="/home" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">Home</a>
      <a mat-list-item class="mat-btn-nav" routerLink="/about" routerLinkActive="active">About</a>
      <a mat-list-item class="mat-btn-nav" routerLink="/articles" routerLinkActive="active">Articles</a>
      <a mat-list-item class="mat-btn-nav" routerLink="/team" routerLinkActive="active">Teams</a>
      <a mat-list-item class="mat-btn-nav" routerLink="/contact-us"
      routerLinkActive="active">Contact Us</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
