@import "../../../../styles.scss";
.filter {
  height: 100px;
  margin: 2.2rem 4.8rem;

  .end {
    float: right;
  }
}

.mat-card>.mat-card-actions:last-child {  margin-bottom: 0;
}

.btn-read {
  padding: 0 1.6rem;
  transition: all .3s;
  border: 1px solid transparent;

  &:hover {
    background-color: $color-white;
    color: $color-main-3;
    border: 1px solid $color-main-3;
  }
}
