@import "../../../../styles.scss";

.header {
  padding: 20px 0;
}

.mat-grid-tile .mat-figure {
  display: block !important;
}

.paragraph {
  width: 100%;
}

.mat-grid-tile .mat-grid-tile-header,
.mat-grid-tile .mat-grid-tile-footer {
  padding: 0;
  background: none;
}

.mat-grid-tile .mat-grid-tile-header {
  top: 60px;
}

.mat-grid-tile .mat-grid-tile-footer {
  bottom: 45px;
}

section {
  margin: 5rem 0;
  padding: 1rem 0;
}

.home {
  margin: 4rem 0 !important;
}

.section .heading-box h2::after {
  content: "\2212";
  display: inline-block;
  transform: scale(30, 0.5);
  text-align: center;
  color: $color-light-grey-3;
  position: absolute;
  left: 50%;
}

.heading-box {
  display: flex;
  align-items: center;
  text-align: center;

  .heading {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    margin: 5px;
  }
}

.h3 {
  color: $color-black;
}

.img-fluid {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.mat-card:hover {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
  transform: translateY(-0.5em);
}

// .mat-card>.mat-card-actions:last-child {  margin-bottom: 0;
// }

.btn-read {
  padding: 0 1.6rem;
  transition: all .3s;
  border: 1px solid transparent;

  &:hover {
    background-color: $color-white;
    color: $color-main-3;
    border: 1px solid $color-main-3;
  }
}
