<section class="articles-view">
  <header class="page-header">
    <div>
      <h1 class="heading-primary">ARTICLES</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
        distinctio praesentium maxime mollitia vero saepe recusandae labore
        repudiandae libero odit?
      </p>
    </div>
  </header>
  <main class="main-content">
    <div class="container">
      <!-- Filter By Years -->
      <section class="filter">
        <mat-form-field class="end">
          <mat-label>Filter by year</mat-label>
          <mat-select [formControl]="year" multiple>
            <mat-option *ngFor="let y of years" [value]="y.id">{{
              y.value
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <!-- Articles Cards -->
      <section class="card-list">
        <mat-grid-list [cols]="columnNum" rowHeight="450px" gutterSize="20px">
          <!-- article 1 -->
          <mat-grid-tile>
            <mat-card>
              <img mat-card-image src="https://picsum.photos/400/200" alt="" />
              <mat-card-content>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Neque numquam natus unde facilis nobis animi maxime explicabo
                  quibusdam, hic at amet, itaque repellat.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button
                  class="btn-read"
                  mat-raised-button
                  color="primary"
                  (click)="onClick()"
                >
                  READ MORE
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card></mat-grid-tile
          >
          <!-- article 2 -->
          <mat-grid-tile>
            <mat-card>
              <img mat-card-image src="https://picsum.photos/400/200" alt="" />
              <mat-card-content>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Neque numquam natus unde facilis nobis animi maxime explicabo
                  quibusdam, hic at amet, itaque repellat.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button
                  class="btn-read"
                  mat-raised-button
                  color="primary"
                  (click)="onClick()"
                >
                  READ MORE
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card></mat-grid-tile
          >
          <!-- article 3 -->
          <mat-grid-tile>
            <mat-card>
              <img mat-card-image src="https://picsum.photos/400/200" alt="" />
              <mat-card-content>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Neque numquam natus unde facilis nobis animi maxime explicabo
                  quibusdam, hic at amet, itaque repellat.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button
                  class="btn-read"
                  mat-raised-button
                  color="primary"
                  (click)="onClick()"
                >
                  READ MORE
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card></mat-grid-tile
          >
          <!-- article 4 -->
          <mat-grid-tile>
            <mat-card>
              <img mat-card-image src="https://picsum.photos/400/200" alt="" />
              <mat-card-content>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Neque numquam natus unde facilis nobis animi maxime explicabo
                  quibusdam, hic at amet, itaque repellat.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button
                  class="btn-read"
                  mat-raised-button
                  color="primary"
                  (click)="onClick()"
                >
                  READ MORE
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card></mat-grid-tile
          >
          <!-- article 5 -->
          <mat-grid-tile>
            <mat-card>
              <img mat-card-image src="https://picsum.photos/400/200" alt="" />
              <mat-card-content>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Neque numquam natus unde facilis nobis animi maxime explicabo
                  quibusdam, hic at amet, itaque repellat.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button
                  class="btn-read"
                  mat-raised-button
                  color="primary"
                  (click)="onClick()"
                >
                  READ MORE
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card></mat-grid-tile
          >
          <!-- article 6 -->
          <mat-grid-tile>
            <mat-card>
              <img mat-card-image src="https://picsum.photos/400/200" alt="" />
              <mat-card-content>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Neque numquam natus unde facilis nobis animi maxime explicabo
                  quibusdam, hic at amet, itaque repellat.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button
                  class="btn-read"
                  mat-raised-button
                  color="primary"
                  (click)="onClick()"
                >
                  READ MORE
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card></mat-grid-tile
          >
        </mat-grid-list>
      </section>
    </div>
  </main>
</section>
