.row {
  display: flex;

  li {
    list-style: none;
  }
}

mat-toolbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, .5);
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-icon-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 14px;
  cursor: pointer;
  text-decoration: none;
  outline: none;

  img {
    width: 10rem;
    //   @include respond(tab-land) {
    //     // width < 1200?
    //     width: 10rem; //1 rem = 9px, 9/16 = 50%
    //   }
    // }
  }
}
